body{
    background-color: lightgrey;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px;
    padding: 10px;
}

.container{
    margin: 0px;
    flex-direction: row;
    
}

.margin{
    border: lightgrey;
    margin-left: 10px;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a{
    text-decoration: none;
    padding: 5px 10px;
    color: black;
    margin-right: 10px;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
}

nav a:hover{
    background-size: 100% 100%;
    color:burlywood
}

img{
    width: 300px;
    height: 350px;
}

.wrapping{
    max-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

figure{
    display: flex;
    flex-wrap: wrap;
}
.self-image{
    max-height: 200px;
    max-width: 50%;
    object-fit: cover;
    vertical-align: bottom;
}
.col-container{   
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    justify-content: flex-start;
}

.homework1{
    background-image: url("../assets/images/password-gen.png");
    background-repeat: no-repeat;
    background-size: contain;
    flex:33%;
    height: 200px;
}

.homework2{
    background-image: url("../assets/images/day-planner.png");
    background-repeat: no-repeat;
    background-size: contain;
    flex:33%;
}

.homework3{
    background-image: url("../assets/images/weather-app.png");
    background-repeat: no-repeat;
    background-size: contain;
    flex:33%;
}
.set{
    justify-content: center;
}
.project{
    background-image: url("../assets/images/event-plan-project.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 33%;
    height: 200px;

}
.image{
    display: flex;
    flex-basis: flex-end;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    border-style: solid;
    border-width: 2px;
    transition: all 0.5s;
    border-color: black;
    justify-content: center;
    margin: 10px;
    
}

.border{
    background-color: lightgrey;
}

.contact-me{
    display: flex;
    justify-content: space-between;
    
}

.contacts{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    justify-content: flex-start;
    padding:10px;
    margin: 10px;
    align-items: center;
}

.contacts a{
     text-decoration: none;
    padding: 5px 10px;
    color: black;
    margin-right: 10px;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
}

.contacts 
.contacts a:hover{
    background-size: 100% 100%;
    color:burlywood
}

@media only screen and (max-width: 992px) {
    .work{
        flex-direction: column;
        width: 100%;
    }
} 

@media only screen and (max-width: 768px) {
    .work{
        flex-direction: column;
        width: 100%;
    }
}