body{
    margin: 0px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: purple;
    margin: 0px;
    padding: 10px;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a{
    text-decoration: none;
    padding: 5px 10px;
    color: black;
    margin-right: 10px;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
}

nav a:hover{
    background-size: 100% 100%;
    color:burlywood
}

.self{
    background: purple;
    background-size: cover;
    background-position: center;
    min-height: 30vh;
    padding: 2% 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: left;
    border-style: solid;
    border-width: 2px;
    border-color: chartreuse;
    max-width: 100%;
    max-height: 100%;
    align-items: center;
}

.self img{
    display: flex;
    justify-content: center;
    max-height: 50%;
    max-width: 50%;
}

.self div{
    flex: 0 0 90%;
}

.self h2{
    background-color: saddlebrown;
    color: black;
    margin: 0;
    padding: 5px 10px;
    font-size: 2.3rem;
    line-height: 1.2;
    display: inline;
}

.wrapping{
    max-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}
.about-me{
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-width: 2px;
    border-color:  chartreuse;
    background-color: purple;
    padding: 0px;
    margin: 0px;
}

figure{
    display: flex;
    flex-wrap: wrap;
}
.self-image{
    max-height: 400px;
    max-width:50%;
    object-fit: cover;
    vertical-align: bottom;
}
.work{   
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    justify-content: flex-start;
    background-color: purple;

}

.project{
    flex: 1 0 33%;
}

.image{
    display: flex;
    flex-basis: flex-end;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    border-style: solid;
    border-width: 2px;
    transition: all 0.5s;
    border-color: chartreuse;
    background-color: purple;
    margin: 10px;
}

.image img{
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    padding: 5px;
    margin: 5px;
}

.contact-me{
    display: flex;
    justify-content: space-between;
    background-color: purple;
}

.contacts{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    justify-content: flex-start;
    padding:10px;
    margin: 10px;
    align-items: center;
}

.contacts a{
     text-decoration: none;
    padding: 5px 10px;
    color: black;
    margin-right: 10px;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
}

.contacts 
.contacts a:hover{
    background-size: 100% 100%;
    color:burlywood
}

@media only screen and (max-width: 992px) {
    .work{
        flex-direction: column;
        width: 100%;
    }
} 

@media only screen and (max-width: 768px) {
    .work{
        flex-direction: column;
        width: 100%;
    }
}