body{
    margin: 0px;
}
header{
    display: flex;
    flex-direction: row;
    background-color: purple;
    margin: 0px;
    padding: 10px;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center
}

.order{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-start;
    padding:10px;
    margin: 10px;
}
.buttons{
     margin: 10px;
     padding: 10px;
     color: black;
}

.about-me{
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-width: 2px;
    border-color:  chartreuse;
    background-color: purple;
    padding: 10px;
}

.work{   
    display: flex;
    justify-content: space-between;
}

.image{
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-width: 2px;
    border-color: chartreuse;
}

.contact-me{
    display: flex;
    justify-content: space-between;
    background-color: purple;
}

.contacts{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-start;
    padding:10px;
    margin: 10px;
    align-items: center;
}